section header{
    display: flex;
    justify-content: space-between;
}


/* BUTTON - ADD ICON */
/* section header div{
    border-radius: 40px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: #FFA500;
    font-size: 30px;
    color: #ffff;
    font-weight: 0;
    cursor: pointer;
    box-shadow: -5px -5px 10px lightgrey;
    position: relative;
    transition-duration: 0.4s;
    text-decoration: none;
    user-select:none;
}

section header div:active{
    top: 1px;
} */

header p {
    font-size: 24px;
    font-family: 'Montserrat';
    line-height: 40px;
}

mat-form-field{
    width: 100%;
}

mat-form-field input{
    font-size: 14px;
}




.top-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid{
    display: flex;
    /* align-items: flex-end;
    justify-content: flex-end; */
}
.add-icon{
    border-radius: 40px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: #FFA500;
    font-size: 30px;
    color: #ffff;
    font-weight: 0;
    cursor: pointer;
    box-shadow: -5px -5px 10px lightgrey;
    position: relative;
    transition-duration: 0.4s;
    text-decoration: none;
    user-select:none;
    margin-right:14px;
}
.add-icon:active{
    top: 1px;
}
form{
    margin-top: 2em;
}
.tname{
    width: 24em;
}

.price{
    margin-left: 2em;
}
/* .last{
    display: flex;
} */
.boxbox{
    display: flex;
    /* border: 2px solid blueviolet; */
    width: 100%;
}

.btn{
    /* margin-left: 29em; */
    width: 3em;
    height: 3em;
    border-radius: 59px;
    border: none;
    /* color: #fff; */
    /* background: orange; */
    /* background-color: red; */
    /* font-weight: 900; */
    cursor: pointer;
    /* position: absolute; */
    /* top: 48px; */
}

.btn-dlt i{
    color: red;
    font-size: 19px;
}

.head{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.head p{
    font-size: 20px;
    margin-top: 7px;
    font-family: 'Montserrat';
}

.btn-section{
    display: flex;
}

.btn-add{
    line-height: 24px;
    width: 3em;
    height: 3em;
    border-radius: 59px;
    border: none;
    color: #fff;
    background: orange;
    /* font-weight: 900; */
    cursor: pointer;
}

.txtxt section{
    display: flex;
}

.txtxt{
    /* border: 2px solid blue; */
    width: 95%;
}

.btn-dlt{
    float: right;
    /* border: 2px solid red; */
    width: 5%;
}