 
.top-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.add-icon{
    border-radius: 40px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: #FFA500;
    font-size: 30px;
    color: #ffff;
    font-weight: 0;
    cursor: pointer;
    box-shadow: -5px -5px 10px lightgrey;
    position: relative;
    transition-duration: 0.4s;
    text-decoration: none;
    user-select:none;
    margin-right:14px;
}
.add-icon:active{
    top: 1px;
}
form{
    margin-top: 2em;
}
.tname{
    width: 24em;
}

.price{
    margin-left: 2em;
}
/* .last{
    display: flex;
} */
.boxbox{
    display: flex;
}

.btn{
    margin-left: 29em;
    width: 3em;
    height: 3em;
    border-radius: 59px;
    /* position: absolute; */
    /* top: 48px; */
    border: none;
    color: #fff;
    background: orange;
    font-weight: 900;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    padding: 10px;
}
.box-hr{
    display: flex;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    padding: 8px;
    border-radius: 15px;
}
.box-vr{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
    padding: 8px;
    border-radius: 15px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap:10px;
    /* border-bottom: 1px solid #ccc; */
}
mat-form-field{
    width: 100%;
}
section{
    overflow-y: auto;
    height: 80vh;

}