<section>
    <div class="task">
        <h2>Task</h2>
        <div class="search">
          <i class="ri-search-line"></i>
          <input type="search" placeholder="Search events.." />
        </div>
        <p>20 records found</p>
        <div class="boxes">
          <div class="box">
            <h3>Task 1</h3>
            <p>12th Sep 2021</p>
          </div>
          <div class="box">
            <h3>Task 2</h3>
            <p>12th Sep 2021</p>
          </div>
          <div class="box">
            <h3>Task 3</h3>
            <p>12th Sep 2021</p>
          </div>
          <div class="box">
            <h3>Task 4</h3>
            <p>12th Sep 2021</p>
          </div>
          <div class="box">
            <h3>Task 5</h3>
            <p>12th Sep 2021</p>
          </div>
          <div class="box">
            <h3>Task 6</h3>
            <p>12th Sep 2021</p>
          </div>
          <div class="box">
            <h3>Task 7</h3>
            <p>12th Sep 2021</p>
          </div>
          <div class="box">
            <h3>Task 8</h3>
            <p>12th Sep 2021</p>
          </div>
          <div class="box">
            <h3>Task 9</h3>
            <p>12th Sep 2021</p>
          </div>
          <div class="box">
            <h3>Task 10</h3>
            <p>12th Sep 2021</p>
          </div>
          <div class="box">
            <h3>Task 11</h3>
            <p>12th Sep 2021</p>
          </div>
          <div class="box">
            <h3>Task 12</h3>
            <p>12th Sep 2021</p>
          </div>
          <div class="box">
            <h3>Task 13</h3>
            <p>12th Sep 2021</p>
          </div>
          <div class="box">
            <h3>Task 14</h3>
            <p>12th Sep 2021</p>
          </div>
          <div class="box">
            <h3>Task 15</h3>
            <p>12th Sep 2021</p>
          </div>
          <div class="box">
            <h3>Task 16</h3>
            <p>12th Sep 2021</p>
          </div>
        </div>
      </div>
      <div class="taskk">
        <div class="top">
            <h3>Add New Task</h3>
            </div>
            <div class="brown-box">
                <div class="txttxt">
                <p>Your Task Name</p>
                <div class="p-text"><p>Write a small description for the event</p></div>
            </div>
        
        <div class="btns">
            <button><i class="ri-edit-line"></i></button>
            <button><i class="ri-delete-bin-line"></i></button>
        </div>
            </div>
            <div class="watch">
              <span>{{min}} :</span>
              <span>{{sec}} :</span>
            </div>
        </div>

</section>
