section {
    display: flex;
  }
  .task {
    width: 20%;
    background-color: #fff;
    margin: 1em;
  }
  .task h2 {
    margin: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
  
    color: #2f1a00;
  }
  .search {
    margin: 10px;
    border: 1px solid black;
    width: 100%;
    background-color: #ffffff;
    padding: 0.5em;
    border-radius: 10px;
  }
  .search i {
    position: relative;
    top: 2px;
  }
  
  .search input {
    margin: 0;
    padding: 0.5em;
    border: transparent;
    background-color: transparent;
  }
  p {
    margin: 10px;
    font-family: "Inter";
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */
  
    /* Text/500 */
  
    color: #61758a;
  }
  .boxes {
    width: 100%;
    overflow-y: auto;
    max-height: 80vh;
  }
  .box {
    margin-bottom: 10px;
  }
  .box h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    margin: 10px;
    color: #304254;
    margin-bottom: 4px;
  }
  .box p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    margin-top: 0;
    color: #61758a;
  }
  .taskk{
    width: 80%;
    margin: 1em 1.5em;
    background-color: #ffffff;
    padding: 1em;
    box-shadow: 0px 5px 15px rgba(28, 27, 27, 0.25);
    border-radius: 20px;
  }
  .brown-box{
    width: 97.5%;
    height: 20%;
    background-color: #2f1a00;
    color: #ffffff;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .brown-box p{
    margin-top: 40px;
    margin-bottom: 0;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 32px;
color: #FFFFFF;
  }
  .p-text p{
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 20px;
margin: 0;

color: #91A4B7;
  }
  .btns{
    margin-left: 20px;
    margin-top: 60px;
  }
  .btns button{
    background: #CAD5E0;
    border-radius: 32px;
    height: 25px;
    border: none;
    text-align: center;
    margin-left: 5px;
    
  }

  .watch{
    margin: 2em;
    width: 20%;
    background-color: red;
    color: #0000;
  }
  


  // _________________________



  .parent-container{
       
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: auto;
    background-color: var(--color-primary);
    color: #fff;
    .buttons{
        button{
            border:none;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            padding: 10px;
            margin-left: 10px;
            transition: .3s;
            cursor: pointer;
            font-size: 15px;
            &:hover,&:focus{
                outline: none;
                transform: scale(1.12);
            }
        }
    }
}
.detail-section{
    display: flex;
    flex-direction: column;
    margin: auto;
    .opacity{
        margin-top: 20px;
        opacity: .5;
        text-align: center;
        margin-bottom: 20px;
    } 
    #mart{
        margin-top: 20px;
    }
    .inputs{
        display: flex;
        margin: auto;
        input{
            margin-left: 15px;
            border: none;
            background-color: #f3f3f3;
            padding: 8px;
            border-radius: 5px;
            font-family: var(--font);
            border: none;
            transition: .3s;
            &:hover{
                border: 1px solid var(--color-primary);
            }
        }
        select{
            padding: 8px 15px;
            background-color: #f3f3f3;
            font-family: var(--font);
            border: none;
            border-radius: 10px;
            margin-right: 10px;
        }
        button{
            background-color: #f3f3f3;
            border: none;
            padding: 10px 25px;
            border-radius: 10px;
            transition: .3s;
            cursor: pointer;
            font-family: var(--font);
            &:hover,&:focus{
                border: 1px solid var(--color-primary);
            }
        }
    }
    .tasks{
        display: block;
        margin: auto;
        margin-top: 15px;
        input{
            border: 1px solid #969696;
            font-family: var(--font);
            padding: 8px;
            border-radius: 10px;
            margin-right: 10px;
            width: 250px;
        }
        #blue{
            background-color: #E1E8F0;
            color: var(--color-primary);
            font-family: var(--font);
            border: none;
            padding: 10px 25px;
            border-radius: 10px;
            margin-right: 10px;
        }
        #complete{
            background-color: var(--color-primary);
            color: #fff;
            border: none;
            padding: 10px 15px;
            font-family: var(--font);
            border-radius: 10px;
        }
    }
}

   