<div class="main-container">
    <div class="container1">
        <app-leftpanel></app-leftpanel>
    </div>

    <div class="container2">
        <section>
            <div class="task">
              <h2>Task</h2>
              <div class="search">
                <i class="ri-search-line"></i>
                <input type="search" placeholder="Search events.." />
              </div>
              <p>20 records found</p>
              <div class="boxes">
                <div class="box">
                  <h3>Task 1</h3>
                  <p>12th Sep 2021</p>
                </div>
                <div class="box">
                  <h3>Task 2</h3>
                  <p>12th Sep 2021</p>
                </div>
                <div class="box">
                  <h3>Task 3</h3>
                  <p>12th Sep 2021</p>
                </div>
                <div class="box">
                  <h3>Task 4</h3>
                  <p>12th Sep 2021</p>
                </div>
                <div class="box">
                  <h3>Task 5</h3>
                  <p>12th Sep 2021</p>
                </div>
                <div class="box">
                  <h3>Task 6</h3>
                  <p>12th Sep 2021</p>
                </div>
                <div class="box">
                  <h3>Task 7</h3>
                  <p>12th Sep 2021</p>
                </div>
                <div class="box">
                  <h3>Task 8</h3>
                  <p>12th Sep 2021</p>
                </div>
                <div class="box">
                  <h3>Task 9</h3>
                  <p>12th Sep 2021</p>
                </div>
                <div class="box">
                  <h3>Task 10</h3>
                  <p>12th Sep 2021</p>
                </div>
                <div class="box">
                  <h3>Task 11</h3>
                  <p>12th Sep 2021</p>
                </div>
                <div class="box">
                  <h3>Task 12</h3>
                  <p>12th Sep 2021</p>
                </div>
                <div class="box">
                  <h3>Task 13</h3>
                  <p>12th Sep 2021</p>
                </div>
                <div class="box">
                  <h3>Task 14</h3>
                  <p>12th Sep 2021</p>
                </div>
                <div class="box">
                  <h3>Task 15</h3>
                  <p>12th Sep 2021</p>
                </div>
                <div class="box">
                  <h3>Task 16</h3>
                  <p>12th Sep 2021</p>
                </div>
              </div>
            </div>
            <div class="review">
              <div class="left">
                <div class="top">
                  <h2>Reviews and Feedback</h2>
                  <h2>Hair</h2>
                </div>
                <div class="boxess">
                  <div class="first">
                    <img src="../assets/dp.svg" alt="" />
          
                    <div class="txt-name">
                      <p class="name-txt">Travis</p>
                      <p class="date-txt">27 June 2022</p>
                    </div>
                    <div class="iconss">
                      <div class="stars">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-line"></i>
                      </div>
                      <div class="msg-icon">
                        <i class="ri-chat-3-line"></i>
                      </div>
                    </div>
                  </div>
                  <div class="second">
                    <p>
                      He average internal rating is calculated by the sum of all ratings
                      from employees within the organization, divided by the total number
                      of employees that rated the course. We calculate and show the
                      average internal rating for a course only when at least 3 ratings
                      have been provided by learners at your organization.
                    </p>
                  </div>
                </div>
                <div class="boxess">
                  <div class="first">
                    <img src="../assets/dp.svg" alt="" />
          
                    <div class="txt-name">
                      <p class="name-txt">Travis</p>
                      <p class="date-txt">27 June 2022</p>
                    </div>
                    <div class="iconss">
                      <div class="stars">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-line"></i>
                      </div>
                      <div class="msg-icon">
                        <i class="ri-chat-3-line"></i>
                      </div>
                    </div>
                  </div>
                  <div class="second">
                    <p>
                      He average internal rating is calculated by the sum of all ratings
                      from employees within the organization, divided by the total number
                      of employees that rated the course. We calculate and show the
                      average internal rating for a course only when at least 3 ratings
                      have been provided by learners at your organization.
                    </p>
                  </div>
                </div>
                <div class="boxess">
                  <div class="first">
                    <img src="../assets/dp.svg" alt="" />
          
                    <div class="txt-name">
                      <p class="name-txt">Travis</p>
                      <p class="date-txt">27 June 2022</p>
                    </div>
                    <div class="iconss">
                      <div class="stars">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-line"></i>
                      </div>
                      <div class="msg-icon">
                        <i class="ri-chat-3-line"></i>
                      </div>
                    </div>
                  </div>
                  <div class="second">
                    <p>
                      He average internal rating is calculated by the sum of all ratings
                      from employees within the organization, divided by the total number
                      of employees that rated the course. We calculate and show the
                      average internal rating for a course only when at least 3 ratings
                      have been provided by learners at your organization.
                    </p>
                  </div>
                </div>
                <div class="boxess">
                  <div class="first">
                    <img src="../assets/dp.svg" alt="" />
          
                    <div class="txt-name">
                      <p class="name-txt">Travis</p>
                      <p class="date-txt">27 June 2022</p>
                    </div>
                    <div class="iconss">
                      <div class="stars">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-line"></i>
                      </div>
                      <div class="msg-icon">
                        <i class="ri-chat-3-line"></i>
                      </div>
                    </div>
                  </div>
                  <div class="second">
                    <p>
                      He average internal rating is calculated by the sum of all ratings
                      from employees within the organization, divided by the total number
                      of employees that rated the course. We calculate and show the
                      average internal rating for a course only when at least 3 ratings
                      have been provided by learners at your organization.
                    </p>
                  </div>
                </div>
              </div>
              <div class="right">
                <div class="sr-btn">
                  <button>Share review <i class="ri-share-line"></i></button>
                </div>
                <div class="sr-btnn">
                  <button>Respond <i class="ri-share-forward-fill"></i></button>
                </div>
                <div class="btn-btn">
                  <div class="dl-btn">
                    <button><i class="ri-download-2-line"></i> Download</button>
                  </div>
                  <div class="dl-btn">
                    <button><i class="ri-delete-bin-line"></i> Delete Review</button>
                  </div>
                </div>
                <div class="hair" id="t1" (click)="steam('t1')">
                  Hair <span><i class="ri-arrow-up-s-line"></i></span>
                </div>
                <div class="scontent" *ngIf="id === 't1'">
                  <div class="cntnt">
                      <p>Option 1</p>
                  </div>
                  <div class="cntnt">
                      <p>Option 1</p>
                  </div>
                  <div class="cntnt">
                      <p>Option 1</p>
                  </div>
                  <div class="cntnt">
                      <p>Option 1</p>
                  </div>
                  <div class="cntnt">
                      <p>Option 1</p>
                  </div>
                  <div class="cntnt">
                      <p>Option 1</p>
                  </div>
                  <div class="cntnt">
                      <p>Option 1</p>
                  </div>
                </div>
                <div class="makeup" id="t2" (click)="steam('t2')">
                  Makeup <span><i class="ri-arrow-up-s-line"></i></span>
                </div>
                <div class="scontent" *ngIf="id === 't2'">
                  <div class="cntnt">
                      <p>Option 1</p>
                  </div>
                  <div class="cntnt">
                      <p>Option 1</p>
                  </div>
                  <div class="cntnt">
                      <p>Option 1</p>
                  </div>
                  <div class="cntnt">
                      <p>Option 1</p>
                  </div>
                  <div class="cntnt">
                      <p>Option 1</p>
                  </div>
                  <div class="cntnt">
                      <p>Option 1</p>
                  </div>
                  <div class="cntnt">
                      <p>Option 1</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          
    </div>
</div>