.main-container{
    display: flex;
    width: 100%;
}


/* section 1 */
.main-container .logo-section{
    /* border: 10px solid red; */
    width: 55%;
    background-color: rgb(64, 28, 0);
    height: 890px;
}

.main-container .logo-section .logo{
    margin: auto;
    text-align: center;
    align-items: center;
    /* border: 0px solid #5b2804; */
    margin-top: 100px;
}
 



/* section 2 */
.main-container .login-section{
    /* border: 10px solid blue; */
    width: 45%;
} 

.main-container .login-section .login{
    margin: auto;
    /*  */
    margin-top: 180px;
    /* border: 2px solid orangered; */
    width: 347px;
}

.main-container .login-section .login .welcome{
    font-size: 16px;
    font-family: 'Roboto';
    /* font-weight: bold; */
}

.main-container .login-section .login .heading{
    font-size: 30px;
    font-family: 'Roboto';
    font-weight: bold;
    /* border: 2px solid blue; */
    margin: 13px 0;
}

.main-container .login-section .login .login-form{
    margin-top: 20px;
    font-size: 23px;
    
}


.main-container .login-section .login .login-form .form-field{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Roboto';
}

.main-container .login-section .login .check-btn{
    display: flex;
    justify-content: space-between;
}

.main-container .login-section .login .check-btn .checkbox{
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 14px;
}

.main-container .login-section .login .check-btn .forget{
    color: #2C5282;
    cursor: pointer;
    font-family: 'Roboto';
}

.main-container .login-section .login .buttons{
    margin-top: 30px;
    font-family: 'Roboto';
}

.main-container .login-section .login .buttons .login-now{
    /* width: 100%; */
    width: 347px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    background-color: orange;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    
}

.main-container .login-section .login .buttons .login-google{
    margin-top: 10px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    background-color: black;
    cursor: pointer;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 16px;
}

.main-container .login-section .login .buttons .login-google .google-logo{
    height: 35px;
    width: 50px;
    /* border: 2px solid white; */
}

.main-container .login-section .login .buttons .login-google .google-text{
    border: 2px solid black;
    color: white;
    /* font-size: 20px; */
}


.main-container .login-section .login .buttons .login-google .google-logo .google-signin{
    /* border: 2px solid black; */
    padding-top: 15px;
}

.main-container .login-section .join{
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto';
    margin-top: 10px;
}