<div class="main-container">

    <!-- LOGO SECTION 1 -->
    <div class="logo-section">
        <div class="logo">
            <img src="assets/img/21.png">
        </div>
    </div>
     
    
    <!-- LOGIN CREDENTIALS SECTION 2 -->
    <div class="login-section">
        <div class="login">
            <!-- 1 -->
            <div class="welcome">Welcome Back</div>
    
    
    
            <!-- 2 -->
            <div class="heading">Login to your account</div>
    
    
    
            <!-- 3 -->
            <div class="login-form">
                <form [formGroup] = "loginForm"> 
                    <label for="email" style="font-family: 'Roboto'; font-size: 16px;">Email</label>
                    <input type="text" name="email" class ="form-field" placeholder="Enter your email" formControlName = "email" style="font-family: 'Roboto'; font-size: 14px;">   
    
                    <label for="password" style="font-family: 'Roboto'; font-size: 16px;">Password</label>
                    <input type="password" name="password" class ="form-field" placeholder="Enter your Password" formControlName="password" style="font-family: 'Roboto'; font-size: 14px;">
                </form>     
            </div>
    
    
     
            <!-- 4 -->
            <div class="check-btn">
                <!-- checkbox -->
                <div class="checkbox">
                    <input type="checkbox">
                Remember me
                </div>
    
                <!-- forget Password -->
                <div class="forget" (click)= "forget()">Forget Password?</div>
            </div>
    
    
    
            <!-- 5 -->
            <div class="buttons" (click) = "submitForm()">
                <!-- row 1 -->
                <div class="login-now">Login now</div>
                <!-- row 2 -->
                <div class="login-google">
                    <div class="google-logo"><img src="assets/img/logo-google.png" class="google-logo"></div>
                    <div class="google-text">Or sign-in with google</div>
                </div>
            </div>
        
    
    
            <!-- 6 -->
            <div class="join">
                <p>Don't have an account?</p> &nbsp;
                <p style="color: #2B6CB0">Join free today</p>
            </div>
    
    
    
        </div>
    </div>
     
    </div>