
<div class="side-bar">
    <div class="heading">
        <p>SOMANI SALON</p>
    </div> 
 
    <div class="menu">
        <div class="items" routerLink="/after-auth/home" routerLinkActive="hover"> 
            <mat-icon fontIcon="home" filll="none"></mat-icon> 
            <p>&nbsp;Home</p>
        </div>

        <div class="items" routerLink="/after-auth/transaction" routerLinkActive="hover">
            <mat-icon fontIcon="note"></mat-icon>
            <p>&nbsp;Bookings</p>
        </div>
        
        <div class="items" routerLink="/after-auth/client" routerLinkActive="hover">
            <mat-icon fontIcon="people"></mat-icon>
            <p>&nbsp;Clients</p>
        </div>
        
        <div class="items" routerLink="/after-auth/staff" routerLinkActive="hover">
            <mat-icon fontIcon="people"></mat-icon>
            <p>&nbsp;Staff Attendance</p>
        </div>

        <div class="items" routerLink="/after-auth/task" routerLinkActive="hover">
            <mat-icon fontIcon="note"></mat-icon>
            <p>&nbsp;Task</p>
        </div>
 
        <div class="items" routerLink="/after-auth/inventory" routerLinkActive="hover">
            <mat-icon fontIcon="work"></mat-icon>
            <p>&nbsp;Inventory</p>
        </div>

        <div class="items" routerLink="/after-auth/message" routerLinkActive="hover">
            <mat-icon fontIcon="message"></mat-icon>
            <p>&nbsp;Messaging</p>
        </div>
        
        <div class="items" routerLink="/after-auth/review" routerLinkActive="hover">
            <mat-icon fontIcon="feedback"></mat-icon>
            <p>&nbsp;Reviews & Feedback</p>
        </div>

        <div class="logout" routerLink="/before-auth/login" routerLinkActive="hover">
            <mat-icon fontIcon="logout"></mat-icon>
            <p>&nbsp;Logout</p>
        </div>
    </div>






















</div>