<section>
    <div class="task">
      <h2>Task</h2>
      <div class="search">
        <i class="ri-search-line"></i>
        <input type="search" placeholder="Search events.." />
      </div>
      <p>20 records found</p>
      <div class="boxes">
        <div class="box">
          <h3>Task 1</h3>
          <p>12th Sep 2021</p>
        </div>
        <div class="box">
          <h3>Task 2</h3>
          <p>12th Sep 2021</p>
        </div>
        <div class="box">
          <h3>Task 3</h3>
          <p>12th Sep 2021</p>
        </div>
        <div class="box">
          <h3>Task 4</h3>
          <p>12th Sep 2021</p>
        </div>
        <div class="box">
          <h3>Task 5</h3>
          <p>12th Sep 2021</p>
        </div>
        <div class="box">
          <h3>Task 6</h3>
          <p>12th Sep 2021</p>
        </div>
        <div class="box">
          <h3>Task 7</h3>
          <p>12th Sep 2021</p>
        </div>
        <div class="box">
          <h3>Task 8</h3>
          <p>12th Sep 2021</p>
        </div>
        <div class="box">
          <h3>Task 9</h3>
          <p>12th Sep 2021</p>
        </div>
        <div class="box">
          <h3>Task 10</h3>
          <p>12th Sep 2021</p>
        </div>
        <div class="box">
          <h3>Task 11</h3>
          <p>12th Sep 2021</p>
        </div>
        <div class="box">
          <h3>Task 12</h3>
          <p>12th Sep 2021</p>
        </div>
        <div class="box">
          <h3>Task 13</h3>
          <p>12th Sep 2021</p>
        </div>
        <div class="box">
          <h3>Task 14</h3>
          <p>12th Sep 2021</p>
        </div>
        <div class="box">
          <h3>Task 15</h3>
          <p>12th Sep 2021</p>
        </div>
        <div class="box">
          <h3>Task 16</h3>
          <p>12th Sep 2021</p>
        </div>
      </div>
    </div>
    <div class="calendar">
        <div class="top">
            <h3>Travis Scott</h3>
            <div class="buttons">
            <div class="d-btn">
                <i class="ri-download-2-fill"></i>
                <button>Download</button>
            </div>
            <div class="d-btn">
                <i class="ri-delete-bin-line"></i>
                <button>Delete</button>
            </div>
        </div>
        </div>

         <!-- <full-calendar [options]="calendarOptions"></full-calendar> --> 
    </div>
    </section>