<div class="main-container">
    <!-- container 1 -->
    <div class="container1">
        <app-leftpanel></app-leftpanel>
    </div>

    <!-- container 2 -->
    <div class="container2">
        <section>
            <div class="heading">
              <h2>Client</h2>
            </div>
          
            <table>
              <table>
                <!-- header -->
                <thead>
                  <tr>
                    <th *ngFor="let header of headers">
                      {{ header }}
                    </th>
                  </tr>
                </thead>
          
                <!-- table content -->
                <tr *ngFor="let client of clients">
<!--                   
                    <td>
                    </td>
                    
                    <td>
                    </td> -->
                    
                    <td>
                        <div class="name">
                        <!-- {{ client.checkBox }} -->
                        <input type="checkbox">
                        <!-- {{ client.image }} -->
                        <div class="img">
                            <img src="assets/dp.svg" alt="">
                        </div>
                        {{ client.name }}
                    </div>
                    </td>
                
                    <td>
                    {{ client.mobileNo }}
                    </td>
                
                    <td>
                    {{ client.email }}
                    </td>
          
                    <td>
                    {{ client.date }}
                    </td>
                 
                </tr>
              </table>
            </table>
            
          </section>
          
    </div>
</div>