<section>
  <div class="heading">
    <h2>Client</h2>
  </div>

  <table>
    <table>
      <thead>
        <tr>
          <th *ngFor="let header of headers">
            {{ header }}
          </th>
        </tr>
      </thead>

      <tr *ngFor="let client of clients">
        <td>
          {{ client.checkBox }}
          <input type="checkbox">
        </td>
        <td>
          {{ client.image }}
          <div class="img">
            <img src="assets/dp.svg" alt="">
          </div>
        </td>
        <td>
          {{ client.name }}
        </td>
        <td>
          {{ client.mobileNo }}
        </td>
        <td>
          {{ client.email }}
        </td>

        <td>
          {{ client.date }}
        </td>
       
      </tr>
    </table>
  </table>
  
</section>
