<section>
    <div class="top">
        <h2>Messages</h2>
        <button ><mat-icon>close</mat-icon></button>
    </div>
    <div class="input-box1">
        <textarea name="" id="" cols="30" rows="10" placeholder="Header"></textarea>
    </div>
    <div class="input-box2">
        <textarea name="" id="" cols="30" rows="10" ></textarea>
    </div>

    <div class="btns">
        <mat-icon style="margin-right: 4px; cursor: pointer">add_photo_alternate</mat-icon>
        <mat-icon style="margin-right: 4px; cursor: pointer">movie</mat-icon>
        <mat-icon style="margin-right: 4px; cursor: pointer">group_add</mat-icon>
        <mat-icon style="margin-right: 4px; cursor: pointer">tag_faces</mat-icon>
    </div>
</section>