<div class="main-container">

    <!-- LOGO SECTION 1 -->
    <div class="logo-section">
        <div class="logo">
            <img src="assets/img/21.png">
        </div>
    </div>
    
    
    <!-- LOGIN CREDENTIALS SECTION 2 -->
    <div class="login-section">
        <div class="login">
            <!-- 1 -->
            <div class="forget-password">OTP Verification</div>
    
    
     
            <!-- 2 -->
            <div class="forget-text">Enter the OTP send to email</div>
    
    
            <div class="login-form">
                <input type="text" class="otp" maxlength="1"><input type="text" class="otp" maxlength="1"><input type="text" class="otp" maxlength="1"><input type="text" class="otp" maxlength="1">
            </div>
     
    
    
            <!-- 3 -->
            <div class="buttons">
                <div class="login-now" (click)="reset()">Submit</div>
            </div>
        
    
            <!-- 4 -->
            <div class="re-send">
                <p>Don't receive Code?</p> &nbsp;
                <p style="color: #2B6CB0">Re-send</p>
            </div>

            <!-- 5 -->
            <div class="join">
                <p>Don't have an account?</p> &nbsp;
                <p style="color: #2B6CB0" (click)="join()">Join free today</p>
            </div>
    
    
        </div>
    </div>
     
    </div>