<div class="main-container">
  <div class="container1">
    <app-leftpanel></app-leftpanel>
  </div>
  <div class="container2">
    <section>



      <!-- <div class="taskbar">
        <div class="heading">
            <h1>Task</h1>
        </div> 
  
        <div class="search-bar">
            <div class="search">
                <div class="search-logo">
                    <mat-icon fontIcon="search"></mat-icon>
                </div>
  
                <div class="search-input">
                    <input type="text" name="search" placeholder="Search ..."
                        style="outline: none; border: 0; font-size: 15px; width: 60%;">
                </div>
  
            </div>
  
            <div class="counting">
                {{'0 records found'}}
            </div>
        </div>

        <div class="menu-task">
            <div class="task">
                <h2>Task 1</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 2</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 3</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 4</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 4</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 5</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 6</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 7</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 8</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 9</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 10</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 11</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 12</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 13</h2>
                <p>12th Sep 2022</p>
            </div>
  
        </div>
    </div> -->

 



      <div class="taskk">
        <div class="top">
          <h3>Task of Employee Name</h3>
        </div>
        <div class="box">
          <div class="txttxt">
            <p>New Task</p>
          </div>

          <div class="example-container row-1">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Task Name</mat-label>
              <input matInput required>
            </mat-form-field>
          </div>
          

          <div class="inputs">
            <!-- <div class="boxip">
              <input type="date" required="required" />
              <span>Start Time</span>
            </div>
            <div class="boxip">
              <input type="time" required="required" />
              <span>End Time</span>
            </div>
            <div class="boxip">
              <input type="time" required="required" />
              <span>Duration</span>
            </div>

            <div class="dropbox">
              <select name="cars" id="select">
                <option>Select Your Staff's Name</option>
                <option>Travis</option>
                <option>Kanye</option>
                <option>Drake</option>
              </select>
            </div>
            <button>Assign</button> -->


            <div class="row-2">
              <!-- 1 -->
              <div class="example-container">
                <mat-form-field appearance="outline">
                  <mat-label>Select Date</mat-label>
                  <input type="date" matInput required>
                </mat-form-field>
              </div>
              
              <!-- 2 -->
              <div class="example-container">
                <mat-form-field appearance="outline">
                  <mat-label>Select Time</mat-label>
                  <input type="time" matInput required>
                </mat-form-field>
              </div>

              <!-- 3 -->
                <mat-form-field appearance="outline">
                  <mat-label>Duration</mat-label>
                  <input matInput #input maxlength="2">
                </mat-form-field>
              
                <!-- 4 -->
                <mat-form-field appearance="outline" style="width: 30%;">
                  <mat-label>Select Staff's Name</mat-label>
                  <mat-select>
                    <mat-option value="option">Employee-1</mat-option>
                    <mat-option value="option">Employee-2</mat-option>
                    <mat-option value="option">Employee-3</mat-option>
                    <mat-option value="option">Employee-4</mat-option>
                    <mat-option value="option">Employee-5</mat-option>
                  </mat-select>
                </mat-form-field>
              
                <!-- 5 -->
                
                <button type="button" mat-flat-button style="background-color:#2F1A00; color: #fff;">Assign</button>
              </div>
        </div>

        <div class="outputs">
        <p class="opacity">Pending Task</p>
        <div class="tasks">
          <div class="example-container">
            <mat-form-field appearance="outline" style="width:500px; height: 15px">
              <mat-label>Task</mat-label>
              <input matInput required>
            </mat-form-field>
          </div> &nbsp;&nbsp;
          <button mat-raised-button style="background-color:rgb(225, 225, 225)">Cancel</button>&nbsp;&nbsp;
          <button mat-raised-button style="background-color: #2F1A00; color: #fff">Mark Complete</button>
        </div>
        <div class="tasks">
          <div class="example-container">
            <mat-form-field appearance="outline" style="width:500px; height: 15px">
              <mat-label>Task</mat-label>
              <input matInput required>
            </mat-form-field>
          </div> &nbsp;&nbsp;
          <button mat-raised-button style="background-color:rgb(225, 225, 225)">Cancel</button>&nbsp;&nbsp;
          <button mat-raised-button style="background-color: #2F1A00; color: #fff">Mark Complete</button>
        </div>
        <div class="tasks">
          <div class="example-container">
            <mat-form-field appearance="outline" style="width:500px; height: 15px">
              <mat-label>Task</mat-label>
              <input matInput required>
            </mat-form-field>
          </div> &nbsp;&nbsp;
          <button mat-raised-button style="background-color:rgb(225, 225, 225)">Cancel</button>&nbsp;&nbsp;
          <button mat-raised-button style="background-color: #2F1A00; color: #fff">Mark Complete</button>
        </div>
        <div class="tasks">
          <div class="example-container">
            <mat-form-field appearance="outline" style="width:500px; height: 15px">
              <mat-label>Task</mat-label>
              <input matInput required>
            </mat-form-field>
          </div> &nbsp;&nbsp;
          <button mat-raised-button style="background-color:rgb(225, 225, 225)">Cancel</button>&nbsp;&nbsp;
          <button mat-raised-button style="background-color: #2F1A00; color: #fff">Mark Complete</button>
        </div>
        <div class="tasks">
          <div class="example-container">
            <mat-form-field appearance="outline" style="width:500px; height: 15px">
              <mat-label>Task</mat-label>
              <input matInput required>
            </mat-form-field>
          </div> &nbsp;&nbsp;
          <button mat-raised-button style="background-color:rgb(225, 225, 225)">Cancel</button>&nbsp;&nbsp;
          <button mat-raised-button style="background-color: #2F1A00; color: #fff">Mark Complete</button>
        </div>
        <div class="tasks">
          <div class="example-container">
            <mat-form-field appearance="outline" style="width:500px; height: 15px">
              <mat-label>Task</mat-label>
              <input matInput required>
            </mat-form-field>
          </div> &nbsp;&nbsp;
          <button mat-raised-button style="background-color:rgb(225, 225, 225)">Cancel</button>&nbsp;&nbsp;
          <button mat-raised-button style="background-color: #2F1A00; color: #fff">Mark Complete</button>
        </div>
        <div class="tasks">
          <div class="example-container">
            <mat-form-field appearance="outline" style="width:500px; height: 15px">
              <mat-label>Task</mat-label>
              <input matInput required>
            </mat-form-field>
          </div> &nbsp;&nbsp;
          <button mat-raised-button style="background-color:rgb(225, 225, 225)">Cancel</button>&nbsp;&nbsp;
          <button mat-raised-button style="background-color: #2F1A00; color: #fff">Mark Complete</button>
        </div>
        </div>
      </div>
    </div>
    </section>
  </div>
</div>