@import url('https://fonts.googleapis.com/css2?family=Alexandria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.main-container {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

.container1 {
  height: 100%;
}

.container2 {
  width: 100%;
  height: 100%;
}

section {
  display: flex;
}

.taskk {
  width: 100%;
  margin: 1em 1.5em;
  background-color: #ffffff;
  padding: 1em;
  box-shadow: 0px 5px 15px rgba(28, 27, 27, 0.25);
  border-radius: 20px;
  /* max-height: 100%;
  overflow-y: scroll; */
  height: 100%;
  /* border: 2px solid red; */
}

.top h3{
  font-size: 20px;
  font-family: 'Montserrat';
}

.box{
  /* border: 1px solid grey; */
  padding: 1.5em;
}

.txttxt p{
  font-size: 18px;
}

.row-2{
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-between;
}

.row-2 button{
  margin-top: 10px;
  margin-bottom: 35px;
}

.outputs{
  /* border: 2px solid red; */
  padding: 20px;
  max-height: 310px;
  overflow-y: scroll;
}

.outputs .tasks{
  margin-bottom: 1em;
  display: flex;
}

.tasks button{
  margin-bottom: 30px;
  margin-top: 10px;
}

.example-container mat-form-field+mat-form-field {
  margin-left: 8px;
  width: 100%;
}

.example-right-align {
  text-align: right;
  width: 100%;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;

}

input.example-right-align {
  -moz-appearance: textfield;
}






/* taskbar */

.taskbar {
  width: 15%;
  padding: 10px 20px;
  height: 100%;
}

.heading {
  height: 5%;
}

.heading h1 {
  font-weight: bold;
  font-size: 24px;
  /* font-family: 'Inter'; */
  font-family: 'Alexandria', sans-serif;
  color: var(--primaryColor);
}

.search-bar {
  /* border: 2px solid red; */
  font-family: Arial, Helvetica, sans-serif;
  height: 7%;
}

.search {
  border: 3px solid rgb(187, 185, 185);
  display: flex;
  font-size: 18px;
  /* padding: 15px; */
  border-radius: 5px;
}

.search-logo {
  padding-top: 6px;
  padding-bottom: 0;
  padding-left: 5px;
  cursor: pointer;
}

.search-input {
  padding-top: 8px;
  width: 80%;
  padding-left: 5px;
  font-size: 14px;
}

.counting {
  font-style: italic;
  font-size: 12px;
}

.menu-task {
  margin-top: 20px;
  overflow-y: scroll;
  max-height: 80vh
}



/* .task {
  cursor: pointer;

}

.task h2 {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.task p {
  font-family: 'Montserrat', sans-serif;
  line-height: 12px;
  font-size: 12px;
} */



/* .top h3{
    font-size: 24px;
    font-family: 'Montserrat';
  }
  
  .txttxt{ 
    display: flex;
    margin: 0;
  }
  
  
  .brown-box{
    width: 97.5%;
    height: 26%;
    border-radius: 10px;
    padding: 1em;
    padding: 0.5em;
    box-shadow: -4px -4px 19px rgb(48 66 84 / 15%);
  }
  .brown-box p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    padding-left: 10px;
  }
  .p-text p{
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  
  
  }
  .btns{
    margin-left: 20px;
    margin-top: 60px;
  }
  .btns button{
    background: #CAD5E0;
    border-radius: 32px;
    height: 25px;
    border: none;
    text-align: center;
    margin-left: 5px;
    
  }
  
  .watch{
    margin: 2em;
    width: 20%;
    background-color: red;
    color: #0000;
  }  */

  /* 
select{
color: #fff;
height: 36px;
border: 1px solid #fff;
border-radius: 5px;
width: 297px;
background-color: var(--primaryColor);
}
.inputs button{
margin-left: 1em;
background-color: #fff;
width: 100px;
border-radius: 5px;
border: 1px solid #fff;
color: var(--primaryColor);
height: 36px;
cursor: pointer;
font-size: 15px;
font-style: normal;
font-weight: 500;
transition: .3s;
}
.inputs button:hover{
transform: scale(1.1);
} */







/*

.tasks {
  display: block;
  margin: auto;
  margin-top: 15px;
}
.tasks input {
  border: 1px solid #E1E8F0;
  font-family: var(--font);
  padding: 8px;
  border-radius: 5px;
  margin-right: 10px;
  width: 250px;
}
.tasks #blue {
  background-color: #e1e8f0;
  color: var(--color-primary);
  font-family: var(--font);
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  margin-right: 10px;
  transition: .3s;
cursor: pointer;
}
.tasks #blue:hover{
  transform: scale(1.1);
}

.tasks #complete {
  background-color: var(--primaryColor);
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-family: var(--font);
  border-radius: 10px;
  transition: .3s;
  cursor: pointer;
}
.tasks #complete:hover{
transform: scale(1.1);
} */
