<div class="main-container">
  <div class="container1">
    <app-leftpanel></app-leftpanel>
  </div>
  <div class="container2">
    <section>



      <!-- <div class="taskbar">
        <div class="heading">
            <h1>Task</h1>
        </div> 
  
        <div class="search-bar">
            <div class="search">
                <div class="search-logo">
                    <mat-icon fontIcon="search"></mat-icon>
                </div>
  
                <div class="search-input">
                    <input type="text" name="search" placeholder="Search ..."
                        style="outline: none; border: 0; font-size: 15px; width: 60%;">
                </div>
  
            </div>
  
            <div class="counting">
                {{'0 records found'}}
            </div>
        </div>

        <div class="menu-task">
            <div class="task">
                <h2>Task 1</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 2</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 3</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 4</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 4</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 5</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 6</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 7</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 8</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 9</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 10</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 11</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 12</h2>
                <p>12th Sep 2022</p>
            </div>
  
            <div class="task">
                <h2>Task 13</h2>
                <p>12th Sep 2022</p>
            </div>
  
        </div>
    </div> -->





      <div class="taskk">
        <div class="top">
          <h3>Task of Employee Name</h3>
        </div>
        <div class="brown-box">
          <div class="txttxt">
            <p>New Task</p>
          </div>
          <div class="inputbox">
            <input type="text" required="required" />
            <span>Task Name</span>
          </div>

          <div class="inputs">
            <div class="boxip">
              <input type="date" required="required" />
              <span>Start Time</span>
            </div>
            <div class="boxip">
              <input type="time" required="required" />
              <span>End Time</span>
            </div>
            <div class="boxip">
              <input type="time" required="required" />
              <span>Duration</span>
            </div>

            <div class="dropbox">
              <select name="cars" id="select">
                <option>Select Your Staff's Name</option>
                <option>Travis</option>
                <option>Kanye</option>
                <option>Drake</option>
              </select>
            </div>
            <button>Assign</button>
          </div>
        </div>

        <p class="opacity">Pending Task</p>
        <div class="tasks">
          <input type="text" name="" id="" placeholder="Task 1" />
          <button id="blue">Cancel</button>
          <button id="complete">Mark Complete</button>
        </div>
        <div class="tasks">
          <input type="text" name="" id="" placeholder="Task 1" />
          <button id="blue">Cancel</button>
          <button id="complete">Mark Complete</button>
        </div>
        <div class="tasks">
          <input type="text" name="" id="" placeholder="Task 1" />
          <button id="blue">Cancel</button>
          <button id="complete">Mark Complete</button>
        </div>
        <div class="tasks">
          <input type="text" name="" id="" placeholder="Task 1" />
          <button id="blue">Cancel</button>
          <button id="complete">Mark Complete</button>
        </div>
        <div class="tasks">
          <input type="text" name="" id="" placeholder="Task 1" />
          <button id="blue">Cancel</button>
          <button id="complete">Mark Complete</button>
        </div>
        <div class="tasks">
          <input type="text" name="" id="" placeholder="Task 1" />
          <button id="blue">Cancel</button>
          <button id="complete">Mark Complete</button>
        </div>
        <div class="tasks">
          <input type="text" name="" id="" placeholder="Task 1" />
          <button id="blue">Cancel</button>
          <button id="complete">Mark Complete</button>
        </div>
      </div>
    </section>
  </div>
</div>