@import url('https://fonts.googleapis.com/css2?family=Alexandria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.main-container{
    /* border: 2px solid black; */
    /* box-shadow: -10px -10px 10px grey; */
    display: flex;
    height: 100%; 
    width: 100%; 
    margin: 0;
    padding: 0;
}

.main-container .container2{
    display: flex; 
    width: 100%;
    /* border: 2px solid red; */ 
    font-family: 'Inter';
}


 
/* TASKBAR */
 
.main-container .container2 .taskbar{
    /* border: 2px solid black; */
    width: 10%;
    padding: 10px 20px;
    font-family: 'Inter';
    max-height: 100%;
}
 
.main-container .container2 .taskbar .heading{
    height: 5%;
}

.main-container .container2 .taskbar .heading h1{ 
    font-weight: bold;
    font-size: 20px;
    /* font-family: 'Inter'; */
    font-family: 'Alexandria', sans-serif;
    color: var(--primaryColor);
}

.main-container .container2 .taskbar .search-bar{
    /* border: 2px solid red; */
    font-family: Arial, Helvetica, sans-serif;
    height: 7%;
}

.main-container .container2 .taskbar .search-bar .search{
    border: 3px solid rgb(187, 185, 185);
    display: flex;
    font-size: 18px;
    /* padding: 15px; */
    border-radius: 5px;
}

.main-container .container2 .taskbar .search-bar .search .search-logo{
    padding-top: 6px;
    padding-bottom: 0;
    padding-left: 5px;
    /* border: 2px solid black; */
    /* color: rgb(129, 127, 127); */
    cursor: pointer;
}

.main-container .container2 .taskbar .search-bar .search .search-input{
    /* border: 2px solid black; */
    font-family: 'Inter';
    padding-top: 8px;
    width: 80%;
    padding-left: 5px;
    font-size: 14px;
}

.main-container .container2 .taskbar .search-bar .counting{
    font-style: italic;
    font-size: 12px;
}

.main-container .container2 .taskbar .menu-task{
    /* border: 2px solid red; */
    margin-top: 20px;
    overflow-y: scroll;
    height: 86%;
}

.main-container .container2 .taskbar .menu-task .task{
    /* border: 2px solid blue; */
    cursor: pointer;
    
}

.main-container .container2 .taskbar .menu-task .task h2{
    /* border: 2px solid black; */
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.main-container .container2 .taskbar .menu-task .task p{
    /* border: 2px solid blueviolet; */
    font-family: 'Montserrat', sans-serif;
    line-height: 12px;
    font-size: 12px;
}













/* Home Page Content  */

.container2 .home-content{
    /* border: 2px solid green; */
    width: 80%;
    /* border-radius: 35px; */
    padding: 10px;
    box-shadow: -15px 15px 99px rgb(48 66 84 / 15%);
    font-family: 'Open Sans', sans-serif;
}

.container2 .date-time {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    font-size: 20px;
    justify-content: space-between;
}

.container2 .date-time .time{
    display: flex;
    font-size: 20px;
    /* border: 1px solid red; */
    /* margin-right: 50px; */
}

.container2 .date-time .date{
    /* border: 1px solid blue; */
    display: flex;
}

.container2 .long-search-bar {
    display: flex;
    align-items: center;
    /* width: 99%; */
    border-radius: 10px;
    padding: 10px;
    background-color: #f3f3f3;
}
.container2 .long-search-bar i {
    margin-right: 5px;
    margin-left: 5px;
}

.container2 .long-search-bar input {
    border: none;
    background-color: #f3f3f3;
    width: 97%;
    /* font-family: var(--font); */
    /* border: 1px solid red; */
}
.container2 .long-search-bar input:hover{
    outline: none;
}

.container2 .upper-section {
    display: flex;
    margin-top: 25px;
    /* border: 2px solid blueviolet; */
}

.container2 .upper-section .first-upper {
    /* background-color: #fff; */
    color: #000;
    /* font-family: var(--font); */
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #dbd8d8;
    width: 320px;
    margin-right: 05px;
}

.container2 .upper-section .graph-1{
    /* border: 1px solid red; */
    width: 340px;
    margin-right: 40px;
}

.container2 .upper-section .graph-2{
    /* border: 1px solid black; */
    width: 340px;
    margin-right: 30px;
}

.container2 .upper-section .first-upper p:nth-child(1) {
    font-size: 20px;
}

.container2 .upper-section .first-upper .buttons {
    margin-top: 20px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    text-align: right;
    justify-content: right
}

.container2 .upper-section .first-upper .buttons button {
    background-color: var(--primaryColor);
    /* background-color: var(--color-primary); */
    border: none;
    border-radius: 8px;
    padding: 8px;
    color: #fff;
    font-size: 13px;
    transition: 0.3s;
    cursor: pointer;
    margin-left: 8px;
    font-size: 12px;
}

.container2 .upper-section .first-upper .buttons button:hover {
    transform: scale(1.12);
}
.container2 .lower-section {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 20px;
    /* border: 2px solid red; */
}
.container2 .lower-section .first-half {
    width: 60%;
    /* border: 2px solid olive; */
}
.container2 .lower-section .first-half .sales {
    border: 1px solid #969696;
    border-radius: 15px;
}
.container2 .lower-section .first-half .sales .target {
    color: #fff;
    background-color: var(--primaryColor);
    padding: 15px 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 20px;
}
.container2 .lower-section .first-half .sales .padding {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    /* border: 2px solid red; */
}
.container2 .lower-section .first-half .sales .padding .parent-container {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container2 .lower-section .first-half .sales .padding .parent-container .orders {
    margin-right: 25px;
    color: #000;
}
.container2 .lower-section .first-half .sales .padding .parent-container .orders mat-progress-bar {
    border-radius: 15px;
    margin-top: -5px;
    color: #FFA500;
    background-color: #FFA500;
}
.container2 .lower-section .first-half .sales .padding .parent-container .orders .opacity {
    opacity: 0.5;
    margin-top: 5px;
}
.container2 .lower-section .first-half .sales .padding .parent-container .orders .info {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container2 .lower-section .first-half .sales .padding .parent-container .orders .info p:nth-child(1) {
    font-size: 18px;
    font-weight: 500;
}
.container2 .lower-section .first-half .sales .padding .parent-container .orders:nth-child(2) {
    margin-left: 25px;
}
.container2 .lower-section .first-half .activity {
    border: 1px solid #969696;
    padding: 15px;
    border-radius: 15px;
    margin-top: 30px;
}
.container2 .lower-section .first-half .activity .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container2 .lower-section .first-half .activity .heading p {
    font-size: 20px;
    font-weight: 900;
    color: var(--primaryColor);
}
.container2 .lower-section .first-half .activity .heading .view-all {
    font-size: 12px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    text-decoration: underline;
    cursor: pointer;
}

.container2 .lower-section .first-half .activity #small {
    margin: 0;
    margin-top: -10px;
    margin-bottom: 20px;
    opacity: 0.5;
}
.container2 .lower-section .first-half .activity .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container2 .lower-section .first-half .activity .task .date {
    display: flex;
}
.container2 .lower-section .first-half .activity .task .date p {
    margin-left: 10px;
    font-size: 18px;
}
.container2 .lower-section .second-half {
    width: 35%;
    /* border: 2px solid blue; */
    margin-left: 15px;

}
.container2 .lower-section .second-half .todo .heading {
    font-size: 20px;
    /* margin-left: 5px; */
    /* border: 1px solid red; */
    display: flex;
    height: 20px;
}

.container2 .lower-section .second-half .todo .heading p{
    font-size: 20px;
    font-weight: bolder;
}

.container2 .lower-section .second-half .todo .todos {
    border: 1px solid #969696;
    /* border: 2px solid black; */
    height: 90px;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    display: flex;
}

.container2 .lower-section .second-half .todo .todos .task-data{
    /* border: 2px solid brown; */
    border-radius: 15px;
    height: 90px;
}

/* hover */
.container2 .lower-section .second-half .todo .todos:hover {
    background-color: transparent;
    height: 90px;
    /* transition: 12s; */
    /* margin-top: 10px; */
}

.container2 .lower-section .second-half .todo .todos .task-data:hover{
    transform: translateX(10%);
    background-color: #fff;
    border: 1px solid #969696;
    padding: 10px;
    border-radius: 15px;
    transition: 0.3s;
    height: 90px;
    /* margin-top: 10px; */
}

.container2 .lower-section .second-half .todo .todos .icons{
    /* border: 1px solid blueviolet; */
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    align-items: flex-start;
    display: grid;
    z-index: -1;
    position: absolute;
    margin-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    height: 90px;
}

.container2 .lower-section .second-half .todo .todos .icons i{
    margin-bottom: 8px;
}

.container2 .lower-section .second-half .todo .todos p{
    cursor: pointer;
}
.container2 .lower-section .second-half .todo .todos .big {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}
.container2 .lower-section .second-half .todo .todos .big p {
    font-size: 18px;
    /* transition: 0.3s; */
    cursor: pointer;
    font-weight: bolder;
}

.todo-box{
    /* border: 2px solid red; */
    height: 380px;
}

.todo-box:hover{
    padding: 0;
    margin: 0;
}






















/* NEW LAYOUT */

.grid{
    /* border: 2px solid black; */
    width: 100%;
}

.row-1{
    /* border: 2px solid red; */
    width: 95%;
    height: 30%;
    display: flex;
    margin: 20px;
    /* padding: 10px; */
}

.row-1 .col-1{
    /* border: 2px solid black; */
    height: 90%;
    width: 30%;
    text-align: center;
    font-size: 30px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: -4px -4px 19px rgb(48 66 84 / 15%);
}

/* chart */

.row-1 .col-1 .first-chart{
    /* border: 2px solid red; */
}

.row-1 .col-1 .first-chart .chart{
}

.row-1 .col-1 .first-chart .target{
    font-size: 24px;
    font-family: 'Montserrat';
}


.row-1 .col-2{
    /* border: 2px solid black; */
    height: 90%;
    width: 70%;
    text-align: center;
    font-size: 30px;
    margin-left: 10px;
    box-shadow: -4px -4px 19px rgb(48 66 84 / 15%);
    padding: 10px;
    border-radius: 12px;
}



.row-1 .col-2 header{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(201, 195, 195, 0.881);
}

.row-1 .col-2 header h1{
    font-size: 20px;
    font-family: 'Montserrat';
    margin-top: 5px;
    margin-left: 10px;
}

.row-1 .col-2 header .icon{
    font-size: 30px;
    margin-top: 15px;
    margin-right: 5px;
    cursor: pointer;
}

.row-1 .col-2 .data{
    max-height: 150px;
    overflow-y: scroll;
    padding-top: 10px;
    font-size: 13px;
    font-family: 'Montserrat';
    text-align: left;
}

.row-1 .col-2 .data p{
    cursor: pointer;
    padding-left: 10px;
}

.row-1 .col-2 .data p:hover{
    border-left: 4px solid orange;
}







.row-1 .col-2 table{
    width: 100%;
}

.row-1 .col-2 table th{
    /* border: 2px solid black; */
    /* width: 100%; */
    border-bottom: 1px solid #969696;
    padding: 0.5em;
    text-align: left;
    font-size: 16px;
    font-family: 'Montserrat';
}

.row-1 .col-2 table tr td{
    padding: 0.1em 0 0.1em 0.7em;
    border-bottom: 1px solid #969696;
    font-size: 12px;
    font-family: 'Montserrat';
}

.row-1 .col-2 table tr td i{
    margin-right: 4px; 
    padding: 3px; 
    border-radius: 6px; 
    cursor: pointer; 
    /* color: blue;  */
    background-color: #e2e2e2
}

.row-1 .col-2 table tr td i:hover{
    background-color: #cac3c3;
}














.row-2 .col-1 .first-chart{
    /* border: 2px solid red; */
}

.row-2 .col-1 .first-chart .chart{
    box-shadow: -4px -4px 19px rgb(48 66 84 / 15%);
}

.row-2 .col-1 .first-chart .target{
    font-size: 24px;
    font-family: 'Montserrat';
}


.row-2{
    /* border: 2px solid blue; */
    width: 100%;
    height: 30%; 
    display: flex;   
    margin: 20px;
    width: 95%;
}

.row-2 .col-1{
    /* border: 2px solid black; */
    height: 100%;
    width: 30%;
    text-align: center;
    font-size: 30px;
    margin-right: 10px;
    box-shadow: -4px -4px 19px rgb(48 66 84 / 15%);
    border-radius: 12px;
    /* padding: 10px; */
}

.row-2 .col-1 .chart1{
    /* border: 2px solid red; */
    padding: 10px;
}


.row-2 .col-2{
    /* border: 2px solid black; */
    height: 90%;
    width: 70%;
    text-align: center;
    font-size: 30px;
    margin-left: 10px;
    box-shadow: -4px -4px 19px rgb(48 66 84 / 15%);
    padding: 10px;
    border-radius: 12px;
    
}

.row-2 .col-2 header{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(201, 195, 195, 0.881);
}

.row-2 .col-2 header h1{
    font-size: 20px;
    font-family: 'Montserrat';
    margin-top: 5px;
    margin-left: 10px;
}

.row-2 .col-2 header .icon{
    font-size: 30px;
    margin-top: 15px;
    margin-right: 5px;
    cursor: pointer;
}

.row-2 .col-2 .data{
    max-height: 150px;
    overflow-y: scroll;
    padding-top: 10px;
    font-size: 13px;
    font-family: 'Montserrat';
}

.row-2 .col-2 .data p{
    cursor: pointer;
    padding-left: 10px;
}

.row-2 .col-2 .data p:hover{
    border-left: 4px solid orange;
}

.row-2 .col-2 table tr td i:hover{
    background-color: #cac3c3;
}


.row-3{
    /* border: 2px solid black; */
    height: 30%;
    margin: 20px;
    /* margin: 20px; */
    /* text-align: center; */
    /* font-size: 30px; */
    width: 95%;
    box-shadow: -4px -4px 19px rgb(48 66 84 / 15%);
    padding: 0 10px;
    border-radius: 12px;
}

.row-3 .header{
    /* border: 2px solid red;  */
    width: 100%;
    display: flex;
    border-bottom: 2px solid grey;
    padding: 5px 0;
}

.row-3 .header .number{
    /* border: 3px solid blue;     */
    border-right: 2px solid grey;
    width: 92%;
    font-size: 20px;
    font-family: 'Montserrat';
    display: flex;
    justify-content: space-between;
    margin-right: 2px;
    padding-right: 5px;
}

.row-3 .header .number p{
    margin: 6px 20px;
}

.row-3 .header .number .search{
    /* border: 1px solid red; */
    display: flex;
    padding: 0 6px;
    border-radius: 6px;
    background-color: rgba(234, 226, 226, 0.881);
}

.row-3 .header .number .search i{
    margin-top: 2px;
    cursor: pointer;
}

.row-3 .header .number .search input{
    /* padding: 3px; */
    outline: none   ;
    border: none;
    background-color: rgba(234, 226, 226, 0.881);
    margin-left: 5px;
}

.row-3 .header .add{
    /* border: 3px solid green;    */
    width: 8%; 
    /* padding-top: 10px;
    padding-bottom: 10px; */
    padding-right: 20px;
    padding-top: 5px;
    font-size: 20px;
}

.row-3 .header .add i{
    /* border-left: 1px solid grey; */
    padding: 4px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: -4px -4px 19px rgb(48 66 84 / 15%);
    margin-top: 5px;
}

.row-3 .header .add i:hover{
    background-color: rgba(234, 226, 226, 0.881);
}

.row-3 .data{
    max-height: 180px;
    overflow-y: scroll;
    /* border: 2px solid red; */
    width: 100%;
}

.row-3 .data table{
    width: 100%;
}

.row-3 .data table th{
    /* border: 2px solid black; */
    /* width: 100%; */
    border-bottom: 1px solid #969696;
    padding: 0.5em;
    text-align: left;
    font-size: 16px;
    font-family: 'Montserrat';
}

.row-3 .data table tr td{
    padding: 0.1em 0 0.1em 0.7em;
    border-bottom: 1px solid #969696;
    font-size: 12px;
    font-family: 'Montserrat';
}

.row-3 .data table tr td i{
    margin-right: 4px; 
    padding: 3px; 
    border-radius: 6px; 
    cursor: pointer; 
    /* color: blue;  */
    background-color: #e2e2e2
}

.row-3 .data table tr td i:hover{
    background-color: #cac3c3;
}

.col-2 table th{ 
    /* border: 2px solid black; */
    /* width: 100%; */
    border-bottom: 1px solid #969696;
    padding: 0.5em;
    text-align: left;
    font-size: 16px;
    font-family: 'Montserrat';
}

.col-2 table tr td{
    padding: 0.1em 0 0.1em 0.7em;
    border-bottom: 1px solid #969696;
    font-size: 12px;
    font-family: 'Montserrat';
    text-align: left;
}

.col-2 table tr td i{
    margin-right: 4px; 
    padding: 3px; 
    border-radius: 6px; 
    cursor: pointer; 
    /* color: blue;  */
    background-color: #e2e2e2
}

/* i:hover{
    background-color: #ffb120;
    transform: scale(1.1);
} */
 

.Present{
    background-color: rgb(115, 255, 115);
    color:rgb(63, 63, 63);
    width: 60px; 
    text-align:center; 
    border-radius: 3px;
}

.Absent{
    background-color: rgb(255, 64, 64);
    color:white;
    width: 60px; 
    text-align:center;
    border-radius: 3px;
}