<section>
    <h2>Add Bill</h2>
    <div class="container">
        <form [formGroup]="billForm" (ngSubmit)="saveAndPrint()">
            <mat-form-field  appearance="outline" class="example-full-width">
                <mat-label>Customer Name</mat-label>
                <input formControlName="customerName" matInput placeholder="Name">
            </mat-form-field>
            <mat-form-field  appearance="outline" class="example-full-width">
                <mat-label>Customer Email</mat-label>
                <input formControlName="customerEmail" matInput placeholder="Name">
            </mat-form-field>
            <mat-form-field  appearance="outline" class="example-full-width">
                <mat-label>Customer Phone</mat-label>
                <input formControlName="customerPhone" matInput placeholder="Name">
            </mat-form-field>
            <mat-form-field  appearance="outline" class="example-full-width">
                <mat-label>Customer Address</mat-label>
                <input formControlName="customerAddress" matInput placeholder="Name">
            </mat-form-field>
            <mat-form-field  appearance="outline">
                <mat-label>Services</mat-label>
                <mat-select [formControl]="servicesControl" (selectionChange)="addControls($event)" multiple>
                    <mat-option *ngFor="let service of services" [value]="service">{{service.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <form [formGroup]="servicesForm" class="column">
                <div class="row" *ngFor="let item of addedControls">
                    <mat-form-field  appearance="outline" floatLabel="always">
                        <mat-label>{{item.name}} Amount</mat-label>
                        <input matInput [formControlName]="item.name" type="number"
                            placeholder="0">
                        <span matTextPrefix>&#8377;&nbsp;</span>
                        <span matTextSuffix>.00</span>
                    </mat-form-field>
                    <mat-form-field  appearance="outline" floatLabel="always">
                        <mat-label>Quantity</mat-label>
                        <input matInput [formControlName]="item.quantityControlName" type="number"
                            placeholder="0">
                    </mat-form-field>
                </div>
            </form>
            <mat-form-field  appearance="outline" class="example-full-width">
                <mat-label>Final Cost</mat-label>
                <input formControlName="finalCost" matInput type="number" placeholder="{{finalCost}}">
            </mat-form-field>
            <mat-form-field  appearance="outline" class="example-full-width">
                <mat-label>Discount</mat-label>
                <input formControlName="discount" matInput type="number" placeholder="0">
            </mat-form-field>
            <mat-form-field  appearance="outline" class="example-full-width">
                <mat-label>Tax</mat-label>
                <input formControlName="tax" matInput type="number" placeholder="0">
            </mat-form-field>
            <button mat-stroked-button color="primary">Save and Print Bill</button>
        </form>
    </div>
    <div id="billMain">
        <img src="assets/img/billLogo.png" alt="">
        <hr>
        <p class="info">19/17-B, Cooper Road, Tashkent Marg, Civil Lines</p>
        <p class="info">Prayagraj, Uttar Pradesh 211001</p>
        <p class="info">Hours: 9:30 - 8:30</p>
        <p class="info">Phone: 9415214460</p>
        <hr>
        <div class="billRow">
            <p>GST No</p>
            <p>{{gstNo | uppercase}}</p>
        </div>
        <div class="billRow">
            <p>Date: {{today | date:'shortDate'}}</p>
            <p>Time: {{today | date:'shortTime'}}</p>
        </div>
        <div class="billRow">
            <p>Bill No</p>
            <p>{{billNo}}</p>
        </div>
        <hr *ngIf="billForm.value.customerName || billForm.value.customerEmail || billForm.value.customerPhone || billForm.value.customerAddress">
        <h3 *ngIf="billForm.value.customerName || billForm.value.customerEmail || billForm.value.customerPhone || billForm.value.customerAddress">Customer Info</h3>
        <div class="billRow" *ngIf="billForm.value.customerName">
            <p>Name</p>
            <p>{{billForm.value.customerName}}</p>
        </div>
        <div class="billRow" *ngIf="billForm.value.customerEmail">
            <p>Email</p>
            <p>{{billForm.value.customerEmail}}</p>
        </div>
        <div class="billRow" *ngIf="billForm.value.customerPhone">
            <p>Phone</p>
            <p>{{billForm.value.customerPhone}}</p>
        </div>
        <div class="billRow" *ngIf="billForm.value.customerAddress">
            <p>Address</p>
            <p>{{billForm.value.customerAddress}}</p>
        </div>
        <hr>
        <table>
            <tr>
                <th style="text-align: left;">Item</th>
                <th>Amt</th>
                <th>Qty</th>
                <th>Fnl</th>
            </tr>
            <tr *ngFor="let item of addedControls">
                <td>{{item.name}}</td>
                <td style="text-align: center;">{{item.control.value}}</td>
                <td style="text-align: center;">{{item.quantityControl.value}}</td>
                <td style="text-align: center;">&#8377;{{item.control.value * item.quantityControl.value}}</td>
            </tr>
        </table>
        <hr>
        <div class="billRow subFinal">
            <p>Tax</p>
            <p>{{totalTax}}%</p>
        </div>
        <div class="billRow subFinal" *ngIf="totalDiscount">
            <p>Discount</p>
            <p>&#8377;{{totalDiscount}}</p>
        </div>
        <hr>
        <div class="billRow final">
            <p>Final</p>
            <p>{{finalCost}}</p>
        </div>
    </div>
</section>