<form [formGroup]="services">

    <div>
        <h1 style="font-family: 'Montserrat';">Enter Details</h1>
        <mat-form-field>
          <mat-label>Service</mat-label>
          <input matInput placeholder="Enter Service Name" name="name" formControlName="name" required>
        </mat-form-field>
        
          <div style="text-align: right;">
            <button type="button" mat-button (click)= "reset()">Reset</button>
            <button mat-button (click)="submit()">Submit</button>
          </div>
    </div>
  </form>