<section>
    <div class="top">
        <h2>Messages</h2>
        <button ><i class="ri-close-line"></i></button>
    </div>
    <div class="input-box1">
        <textarea name="" id="" cols="30" rows="10" placeholder="Header"></textarea>
    </div>
    <div class="input-box2">
        <textarea name="" id="" cols="30" rows="10" ></textarea>
    </div>

    <div class="btns">
        <button><i class="ri-image-fill"></i></button>
        <button><i class="ri-youtube-fill"></i></button>
        <button><i class="ri-user-add-fill"></i></button>
        <button><i class="ri-user-smile-line"></i></button>
    </div>
</section>