section{
         width: 40vw;
         border-radius: 20px;
}
section input{
    width: 100%;
    margin: 1em 0;
    padding: 0.5em 0;
}
.third{
    display: flex;
    // margin: 2px;
}
 input .ph{
    margin-right: 10px;
}
.last{
    display: flex;
}
.a-staff-btn{
    display: flex;
    justify-content: right;
}
.a-staff-btn button{
margin: 1em;
padding: 0.5em 1.2em;
background: #2F1A00;
border-radius: 8px;
    color: #ffffff;
    transition: .3s;
}
.a-staff-btn button:hover{
    transform: scale(1.1);
}
