<section>
    <h2>Add Staff</h2>
    <div class="name">
    <input type="text" placeholder="Name">
</div>
    <input type="text" placeholder="Address">
    <div class="third">
        <input class="ph" type="text" placeholder="Phone number" style="margin-right: 10px ;">
        <input type="date" placeholder="joining Date">
    </div>
    <input type="text" placeholder="Category">
    <div class="last">
        <p>Salary</p>
        <input  type="text" style="width:200px ; margin: 0 20px;" >
        <p>Monthly</p>
    </div>

    <div class="a-staff-btn">
        <button>Add Staff</button>
    </div>
</section>