<div class="main-container">
    <div class="container1">
        <app-leftpanel></app-leftpanel>
    </div>
 
    <div class="container2">
        <section>
          <div class="taskbar">
            <!-- section 1 -->
            <div class="heading">
                <h1>Task</h1>
            </div> 
      
            <!-- section 2 -->
            <div class="search-bar">
                <div class="search">
                    <div class="search-logo">
                        <mat-icon fontIcon="search"></mat-icon>
                    </div>
      
                    <div class="search-input">
                        <input type="text" name="search" placeholder="Search ..."
                            style="outline: none; border: 0; font-size: 15px; width: 60%;">
                    </div>
      
                </div>
      
                <div class="counting">
                    <!-- use binding to display the data -->
                    {{'0 records found'}}
                </div>
            </div>
      
            <!-- section 3 -->
            <div class="menu-task">
                <div class="task">
                    <h2>Task 1</h2>
                    <p>12th Sep 2022</p>
                </div>
      
                <div class="task">
                    <h2>Task 2</h2>
                    <p>12th Sep 2022</p>
                </div>
      
                <div class="task">
                    <h2>Task 3</h2>
                    <p>12th Sep 2022</p>
                </div>
      
                <div class="task">
                    <h2>Task 4</h2>
                    <p>12th Sep 2022</p>
                </div>
      
                <div class="task">
                    <h2>Task 4</h2>
                    <p>12th Sep 2022</p>
                </div>
      
                <div class="task">
                    <h2>Task 5</h2>
                    <p>12th Sep 2022</p>
                </div>
      
                <div class="task">
                    <h2>Task 6</h2>
                    <p>12th Sep 2022</p>
                </div>
      
                <div class="task">
                    <h2>Task 7</h2>
                    <p>12th Sep 2022</p>
                </div>
      
                <div class="task">
                    <h2>Task 8</h2>
                    <p>12th Sep 2022</p>
                </div>
      
                <div class="task">
                    <h2>Task 9</h2>
                    <p>12th Sep 2022</p>
                </div>
      
                <div class="task">
                    <h2>Task 10</h2>
                    <p>12th Sep 2022</p>
                </div>
      
                <div class="task">
                    <h2>Task 11</h2>
                    <p>12th Sep 2022</p>
                </div>
      
                <div class="task">
                    <h2>Task 12</h2>
                    <p>12th Sep 2022</p>
                </div>
      
                <div class="task">
                    <h2>Task 13</h2>
                    <p>12th Sep 2022</p>
                </div>
      
            </div>
        </div>

            
            <div class="msg"> 
              <div class="top">
                <h3>Message</h3>
                <div class="plus-btn">
                  <button  (click)="openDialog()"><p>+</p></button>
                </div>
              </div>
          
              <div class="text">
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, ipsa
                  sapiente, nam alias magni officiis, voluptates suscipit aliquid pariatur
                  repellendus obcaecati inventore ad aliquam sunt nesciunt! Ipsam aperiam
                  magnam quaerat ut fugiat perferendis tempore natus, veniam molestiae,
                  odio beatae quas.
                </p>
                <div class="bottom-txt">
                  <p>27 june 2022 12:00 am</p>
                </div>
              </div>
              <div class="text">
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, ipsa
                  sapiente, nam alias magni officiis, voluptates suscipit aliquid pariatur
                  repellendus obcaecati inventore ad aliquam sunt nesciunt! Ipsam aperiam
                  magnam quaerat ut fugiat perferendis tempore natus, veniam molestiae,
                  odio beatae quas.
                </p>
                <div class="bottom-txt">
                  <p>27 june 2022 12:00 am</p>
                </div>
              </div>
              <div class="text">
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, ipsa
                  sapiente, nam alias magni officiis, voluptates suscipit aliquid pariatur
                  repellendus obcaecati inventore ad aliquam sunt nesciunt! Ipsam aperiam
                  magnam quaerat ut fugiat perferendis tempore natus, veniam molestiae,
                  odio beatae quas.
                </p>
                <div class="bottom-txt">
                  <p>27 june 2022 12:00 am</p>
                </div>
              </div>
            </div>
          </section>
          
    </div>
</div>